langchain
langgraph
langchain_community
langchain_core
langchain_groq
groq
langchain_openai
openai
faiss-cpu
streamlit
tqdm
bs4
fastapi
uvicorn
pydantic
sqlalchemy
sqlite-utils
tiktoken
pgvector
dotenv_python